@import "tailwindcss";
@plugin "daisyui";

@keyframes slide-out {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes slide-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
	    opacity: 1;
	}
}

@keyframes fade-out {
    from {
	    opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Forward animations */
.forward::view-transition-old(root) {
	animation: slide-out 0.2s ease-in-out;
}
.forward::view-transition-new(root) {
	animation: slide-in 0.2s ease-in-out;
}

/* Reversed animations */
.backward::view-transition-old(root) {
	animation: slide-in 0.2s ease-in-out reverse;
}
.backward::view-transition-new(root) {
	animation: slide-out 0.2s ease-in-out reverse;
}

/* Navbar animations */

.nav-container::view-transition-old(root) {
	animation: fade-out 0.2s ease-in-out;
}
.nav-container::view-transition-new(root) {
	animation: fade-in 0.2s ease-in-out;
}
